<!--
     Copyright (C) 2026 The WitAqua Project
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lineageos.euicc.overlay.diting">
    <overlay android:targetPackage="org.lineageos.euicc"
                   android:isStatic="true"
                   android:priority="1000"
                   android:requiredSystemPropertyName="ro.boot.hwc"
                   android:requiredSystemPropertyValue="JP"/>
</manifest>
